@{Layout = null;}
@model AppLifeServerMvc.Models.Login
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AppLife Server</title>
	<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  
  DD_belatedPNG.fix('#header');
  DD_belatedPNG.fix('.notification');
  DD_belatedPNG.fix('.submit');
  DD_belatedPNG.fix('.pngfix');
  

</script>
<![endif]-->
	<!-- MASTER STYLESHEET -->
	<link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
     @Content.Script("jquery-1.9.0.min.js", @Url)
    @Content.Script("scripts.js", @Url)
    @Content.Script("jquery-ui-1.9.2.custom.min.js", @Url)
    @Content.Script("jquery.unobtrusive-ajax.min.js", @Url)
</head>
<body>
	<div id="admin-wrapper">
		@using(Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) { 
			@Html.AntiForgeryToken()
			

			<!--START LOGO  --> 
                
			<div id="logo">
				<h1><img src="~/Content/images/AUServer_Black_48X48.png" alt="AppLife Server" />
					<strong>AppLife</strong>Server</h1>
			</div>
                
			<!-- END LOGO -->

			<!-- TEXTBOXES -->
			@Html.LabelFor(m => m.Username)<br />
			@Html.TextBoxFor(m => m.Username, new { @id = "txtUsername", @class = "text big" })
			<br />
	
			@Html.LabelFor(m => m.Password)<br />
			@Html.PasswordFor(m => m.Password, new { @class = "text big" })
			<br />
		
		
		
			<p>
				<input type="submit" value="Log in" class="submit" />
				@Html.CheckBoxFor(m => m.RememberMe)
				@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                <a href="#" id="resetPasswordLnk" style="float:right; font-size:.8em;">Forgot Password?</a><br /><span id="resetPasswordConfirmed" style="display:none;">A link has been sent to the account email address.</span>
			</p>
		
			<p>@Html.ValidationSummary(true)</p>
	}
	</div>
    <div id="dialog-confirm" title="Confirm Reset" style="display: none;">
		<p>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
			Are you sure you want to reset this password?</p>
	</div>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('#resetPasswordLnk').click(function () {
                $('#dialog-confirm').dialog({
                    resizable: false, modal: true,
                    buttons: {
                        Cancel: function () { $(this).dialog("close"); },
                        "Reset": function () {
                            $(this).dialog("close");
                            $.ajax({
                                url: '@Url.Action("RequestReset", "Account")',
						    data: { val: $('#txtUsername').val()},
						    success: function (data) {
						        if (data.result == 'success') {
						            //display success element
						            $('#resetPasswordLnk').hide();
						            $('#resetPasswordConfirmed').show();
						        }
						    },
						    error: function (xhr, ajaxOptions, thrownError) {
						        alert(xhr.responseText);
						    }
						});
					}
				}

			});

		});
	});
</script>
</body>
</html>
